<!--
  ~ Copyright (C) 2016 - All Rights Reserved
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  ~ Created by Antonio Barria <jaybarria@gmail.com>
  ~ Last modified 11/19/19 8:54 PM
  -->

<manifest package="com.github.jairrab.currencyutility" />
